In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("OK — Librerías cargadas correctamente")

OK — Librerías cargadas correctamente

# Reto 1: Relación entre los datos de entrada

In [3]:
df_atletas = pd.read_csv("data/atletas.csv")    # Cambia por el nombre real
df_medallas = pd.read_csv("data/medallas.csv")  # Idem

print(df_atletas.head())
print(df_medallas.head())

   ID                      Name Sex   Age  Height  Weight            Team  NOC
0   1                 A Dijiang   M  24.0   180.0    80.0           China  CHN
1   2                  A Lamusi   M  23.0   170.0    60.0           China  CHN
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark  DEN
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden  DEN
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands  NED
   ID        Games  Year  Season       City          Sport  \
0   1  1992 Summer  1992  Summer  Barcelona     Basketball
1   2  2012 Summer  2012  Summer     London           Judo
2   3  1920 Summer  1920  Summer  Antwerpen       Football
3   4  1900 Summer  1900  Summer      Paris     Tug-Of-War
4   5  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

### Explicación de que aporta cada tabla y cómo se relacionan
La primera tabla (atletas.csv) recoge información personal y básica de cada deportista: un ID único, nombre, sexo, edad, altura, peso, país/equipo y el NOC (comité olímpico nacional).  
La segunda tabla (medallas.csv) describe cada participación olímpica: enlaza el mismo ID de atleta con la edición de los Juegos (año, ciudad, verano/invierno), el deporte, el evento concreto y el tipo de medalla, si la obtuvo.  
Ambas se relacionan a través de la columna ID: gracias a ella podemos unir los datos personales del atleta con sus resultados deportivos en cada edición de los Juegos.

### Muestra un listado de ejemplo (5–10 filas) con: nombre del atleta, país, tipo de juegos, años en los que participó y medallas obtenidas en cada año

In [4]:
df_JJOO = pd.merge(df_atletas, df_medallas, on='ID', how='inner')

# Limpiar datos: filtrar solo filas donde se obtuvo medalla (Medal no es NaN)
df_JJOO_medallas = df_JJOO[df_JJOO['Medal'].notna()]

resumen = (
    df_JJOO_medallas
    .groupby(['Name', 'Team', 'Season', 'Year'])
    .agg(
        Medallas_Obtenidas = ('Medal', 'count')  # Cuenta el número de medallas por grupo
    )
    .reset_index()
)
print(resumen.head(10))

# Mostrar los primeros 5 registros que tengan más de 1 medalla obtenida
print(resumen[resumen['Medallas_Obtenidas'] > 1].head(5))

                    Name                                            Team  \
0              A. Albert  Union des Socits Franais de Sports Athletiques
1              A. Dubois                                       Gitana-21
2  A. Joshua "Josh" West                                   Great Britain
3               A. Lawry                                        Cornwall
4            A. M. Woods          St. Louis Amateur Athletic Association
5            A. R. Upton           Brussels Swimming and Water Polo Club
6           A. Willcocks                                        Cornwall
7             Aage Birch                                           Snude
8      Aage Ernst Larsen                                         Denmark
9       Aage Hy Pedersen                                         Denmark

   Season  Year  Medallas_Obtenidas
0  Summer  1900                   1
1  Summer  1900                   2
2  Summer  2008                   1
3  Summer  1908                   1
4  Summer  1904                   1
5  Summer  1900                   1
6  Summer  1908                   1
7  Summer  1968                   1
8  Summer  1948                   1
9  Summer  1928                   1
                                 Name           Team  Season  Year  \
1                           A. Dubois      Gitana-21  Summer  1900
16  Aagje "Ada" Kok (-van der Linden)    Netherlands  Summer  1964
32                Aaron Wells Peirsol  United States  Summer  2004
33                Aaron Wells Peirsol  United States  Summer  2008
39                     Abbey Weitzeil  United States  Summer  2016

    Medallas_Obtenidas
1                    2
16                   2
32                   3
33                   3
39                   2

# RETO 2

In [ ]:
print("reto2")